In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
app_train=pd.read_csv("train.csv")

In [3]:
app_test=pd.read_csv("test.csv")

In [8]:
#concatenate test and train
df = pd.concat([app_train,app_test],axis=0,sort=False)

In [ ]:
# Checking for outliers in the continuous variables
num = df[['interest_rate','unpaid_principal_bal','loan_term','loan_to_value','number_of_borrowers','debt_to_income_ratio','insurance_percent','co-borrower_credit_score','insurance_type']]

In [7]:
app_train['SOOURCE']='train'
app_test['SOOURCE']='test'

In [78]:
catagorical_columns=df.select_dtypes(include='object')

In [79]:
numerical_columns=df.select_dtypes(exclude='object')

In [80]:
catagorical_columns.columns

Index(['source', 'financial_institution', 'first_payment_date', 'loan_purpose',
       'SOOURCE', 'origination_date_Dayweek'],
      dtype='object')

In [81]:
numerical_columns.columns

Index(['loan_id', 'interest_rate', 'unpaid_principal_bal', 'loan_term',
       'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio',
       'borrower_credit_score', 'insurance_percent',
       'co-borrower_credit_score', 'insurance_type', 'm1', 'm2', 'm3', 'm4',
       'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13',
       'origination_date_quarter', 'origination_date_day',
       'origination_date_Dayofweek', 'origination_date_is_weekend',
       'origination_date_Year'],
      dtype='object')

In [13]:
df['origination_date_new'] = pd.to_datetime(df.origination_date)

In [18]:
df['origination_date_quarter'] = df['origination_date_new'].dt.quarter

In [19]:
df['origination_date_day'] = df['origination_date_new'].dt.day

In [20]:
df['origination_date_Dayofweek'] = df['origination_date_new'].dt.dayofweek

In [22]:
# day of the week - name
df['origination_date_Dayweek'] = df['origination_date_new'].dt.weekday_name

In [23]:
df[['origination_date_Dayweek', 'origination_date_new']].head()

  origination_date_Dayweek origination_date_new
0                 Thursday           2012-03-01
1                   Sunday           2012-01-01
2                   Sunday           2012-01-01
3                Wednesday           2012-02-01
4                Wednesday           2012-02-01

In [24]:
# was the application done on the weekend?
df['origination_date_is_weekend'] = np.where(df['origination_date_Dayweek'].isin(['Sunday', 'Saturday']), 1,0)

In [25]:
df['origination_date_Year'] = df['origination_date_new'].dt.year

In [26]:
df.origination_date_Year.value_counts()

2012    165797
Name: origination_date_Year, dtype: int64

In [31]:
df.first_payment_date.replace({'04/2012':"April",'03/2012':"March",'05/2012':"May",'02/2012':"Feb"},inplace=True)

In [82]:
catagorical_columns.head()

,source,financial_institution,first_payment_date,loan_purpose,SOOURCE,origination_date_Dayweek
0,Z,"Turner, Baldwin and Rhodes",May,C86,train,Thursday
1,Y,"Swanson, Newton and Miller",March,B12,train,Sunday
2,Z,Thornton-Davis,March,B12,train,Sunday
3,X,OTHER,April,B12,train,Wednesday
4,X,OTHER,April,C86,train,Wednesday

In [34]:
df.drop(columns=["origination_date"],inplace=True)

In [77]:
df.drop(columns=["origination_date_new"],inplace=True)

In [40]:
encode=pd.get_dummies(catagorical_columns.drop(columns=["SOOURCE"]))

In [83]:
encode.head()

,source_X,source_Y,source_Z,financial_institution_Anderson-Taylor,financial_institution_Browning-Hart,financial_institution_Chapman-Mcmahon,"financial_institution_Cole, Brooks and Vincent",financial_institution_Edwards-Hoffman,"financial_institution_Martinez, Duffy and Bird","financial_institution_Miller, Mcclure and Allen",...,first_payment_date_April,first_payment_date_Feb,first_payment_date_March,first_payment_date_May,loan_purpose_A23,loan_purpose_B12,loan_purpose_C86,origination_date_Dayweek_Sunday,origination_date_Dayweek_Thursday,origination_date_Dayweek_Wednesday
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [84]:
numerical_columns.head()

,loan_id,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,...,m9,m10,m11,m12,m13,origination_date_quarter,origination_date_day,origination_date_Dayofweek,origination_date_is_weekend,origination_date_Year
0,268055008619,4.250,214000,360,95,1.0,22.0,694.0,30.0,0.0,...,0,0,0,0,1.0,1,1,3,0,2012
1,672831657627,4.875,144000,360,72,1.0,44.0,697.0,0.0,0.0,...,0,0,1,0,1.0,1,1,6,1,2012
2,742515242108,3.250,366000,180,49,1.0,33.0,780.0,0.0,0.0,...,0,0,0,0,1.0,1,1,6,1,2012
3,601385667462,4.750,135000,360,46,2.0,44.0,633.0,0.0,638.0,...,1,1,1,1,1.0,1,1,2,0,2012
4,273870029961,4.750,124000,360,80,1.0,43.0,681.0,0.0,0.0,...,8,9,10,11,1.0,1,1,2,0,2012

In [85]:
processing_final=pd.concat([encode,numerical_columns,df[["SOOURCE"]]],axis=1)

In [86]:
pre_train = processing_final.loc[processing_final['SOOURCE']=="train"]

In [87]:
pre_test = processing_final.loc[processing_final['SOOURCE']=="test"]

In [88]:
del pre_train["SOOURCE"]

In [89]:

del pre_test["SOOURCE"]

In [90]:
pre_test['loan_id'].head()

0    196706376986
1    786051527565
2    100072474882
3    328189712657
4    577598812667
Name: loan_id, dtype: int64

In [91]:

final=pre_test[["loan_id","m13"]]

In [92]:

del pre_train["loan_id"]

In [93]:
del pre_test["loan_id"]

In [94]:

final.head()

        loan_id  m13
0  196706376986  NaN
1  786051527565  NaN
2  100072474882  NaN
3  328189712657  NaN
4  577598812667  NaN

In [95]:
X=pre_train.drop(columns=["m13"],axis=0)

In [96]:
y=pre_train.m13

In [97]:
pre_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116058 entries, 0 to 116057
Data columns (total 60 columns):
source_X                                             116058 non-null uint8
source_Y                                             116058 non-null uint8
source_Z                                             116058 non-null uint8
financial_institution_Anderson-Taylor                116058 non-null uint8
financial_institution_Browning-Hart                  116058 non-null uint8
financial_institution_Chapman-Mcmahon                116058 non-null uint8
financial_institution_Cole, Brooks and Vincent       116058 non-null uint8
financial_institution_Edwards-Hoffman                116058 non-null uint8
financial_institution_Martinez, Duffy and Bird       116058 non-null uint8
financial_institution_Miller, Mcclure and Allen      116058 non-null uint8
financial_institution_Nicholson Group                116058 non-null uint8
financial_institution_OTHER                          116058 non-null uint8
financial_institution_Richards-Walters               116058 non-null uint8
financial_institution_Richardson Ltd                 116058 non-null uint8
financial_institution_Romero, Woods and Johnson      116058 non-null uint8
financial_institution_Sanchez, Hays and Wilkerson    116058 non-null uint8
financial_institution_Sanchez-Robinson               116058 non-null uint8
financial_institution_Suarez Inc                     116058 non-null uint8
financial_institution_Swanson, Newton and Miller     116058 non-null uint8
financial_institution_Taylor, Hunt and Rodriguez     116058 non-null uint8
financial_institution_Thornton-Davis                 116058 non-null uint8
financial_institution_Turner, Baldwin and Rhodes     116058 non-null uint8
first_payment_date_April                             116058 non-null uint8
first_payment_date_Feb                               116058 non-null uint8
first_payment_date_March                             116058 non-null uint8
first_payment_date_May                               116058 non-null uint8
loan_purpose_A23                                     116058 non-null uint8
loan_purpose_B12                                     116058 non-null uint8
loan_purpose_C86                                     116058 non-null uint8
origination_date_Dayweek_Sunday                      116058 non-null uint8
origination_date_Dayweek_Thursday                    116058 non-null uint8
origination_date_Dayweek_Wednesday                   116058 non-null uint8
interest_rate                                        116058 non-null float64
unpaid_principal_bal                                 116058 non-null int64
loan_term                                            116058 non-null int64
loan_to_value                                        116058 non-null int64
number_of_borrowers                                  116058 non-null float64
debt_to_income_ratio                                 116058 non-null float64
borrower_credit_score                                116058 non-null float64
insurance_percent                                    116058 non-null float64
co-borrower_credit_score                             116058 non-null float64
insurance_type                                       116058 non-null float64
m1                                                   116058 non-null int64
m2                                                   116058 non-null int64
m3                                                   116058 non-null int64
m4                                                   116058 non-null int64
m5                                                   116058 non-null int64
m6                                                   116058 non-null int64
m7                                                   116058 non-null int64
m8                                                   116058 non-null int64
m9                                                   116058 non-null int64
m10                                                  116058 non-null int64
m11                                                  116058 non-null int64
m12                                                  116058 non-null int64
m13                                                  116058 non-null float64
origination_date_quarter                             116058 non-null int64
origination_date_day                                 116058 non-null int64
origination_date_Dayofweek                           116058 non-null int64
origination_date_is_weekend                          116058 non-null int32
origination_date_Year                                116058 non-null int64
dtypes: float64(8), int32(1), int64(19), uint8(32)
memory usage: 28.8 MB

In [98]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

rfe = RFE(logreg, 18)
rfe = rfe.fit(X,y)
print(rfe.support_)
print(rfe.ranking_)

[ True  True  True False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False  True  True  True  True False False False
  True False False False False  True  True False False  True False False
  True False  True False  True  True False False  True  True False]
[ 1  1  1 40 16 35 15  7 27 14 39 24 25 37 38 21 12 11 17  1 36 22  9 20
 10  8  3  5  4  1  1  1  1 34 32 30  1 26 28 29 33  1  1 13  2  1 18 19
  1  6  1 23  1  1 41 42  1  1 31]

In [101]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression(class_weight='balanced')
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [102]:
y_pred_train = logreg.predict(X_train)

In [103]:

metrics.confusion_matrix(y_train,y_pred_train)

array([[74148,  6641],
       [  109,   342]], dtype=int64)

In [104]:

metrics.accuracy_score(y_train,y_pred_train)

0.9169128508124077

In [105]:
print(metrics.classification_report(y_train,y_pred_train))

             precision    recall  f1-score   support

        0.0       1.00      0.92      0.96     80789
        1.0       0.05      0.76      0.09       451

avg / total       0.99      0.92      0.95     81240

In [106]:
y_pred = logreg.predict(X_test)

In [107]:
metrics.confusion_matrix(y_test,y_pred)

array([[31759,  2874],
       [   47,   138]], dtype=int64)

In [108]:

metrics.accuracy_score(y_test,y_pred)

0.9161066115227756

In [109]:
print(metrics.classification_report(y_test,y_pred))

             precision    recall  f1-score   support

        0.0       1.00      0.92      0.96     34633
        1.0       0.05      0.75      0.09       185

avg / total       0.99      0.92      0.95     34818

In [110]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.92

In [111]:

final.shape

(49739, 2)

In [112]:
y_pred.shape

(34818,)

In [113]:
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [115]:
train_pred=logreg.predict(pre_train.drop(columns=["m13"],axis=0))

In [116]:
X.shape

(116058, 59)

In [117]:

test_pred=logreg.predict(pre_test.drop(columns=["m13"],axis=0))

In [118]:
metrics.accuracy_score(pre_train["m13"],train_pred)

0.918454565820538

In [119]:

final["m13"]=test_pred.astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
final.shape

(49739, 2)

In [121]:

final.head()

        loan_id  m13
0  196706376986    0
1  786051527565    0
2  100072474882    1
3  328189712657    1
4  577598812667    1

In [122]:
final['m13'].value_counts()

0    45551
1     4188
Name: m13, dtype: int64

In [123]:
final.to_csv("C:\\Users\\266251\\Downloads\\Independent-Hack-AV-master\\Loansubmission.csv",index=False)

In [5]:
from sklearn.preprocessing import MinMaxScaler, Imputer

# Drop the target from the training data
if 'm13' in app_train:
    train = app_train.drop(columns = ['m13'])
else:
    train = app_train.copy()
    
# Feature names
features = list(train.columns)

# Copy of the testing data
test = app_test.copy()

# Median imputation of missing values
imputer = Imputer(strategy = 'median')

# Scale each feature to 0-1
scaler = MinMaxScaler(feature_range = (0, 1))

# Fit on the training data
imputer.fit(train)

# Transform both training and testing data
train = imputer.transform(train)
test = imputer.transform(app_test)

# Repeat with the scaler
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

ValueError: could not convert string to float: 'A23'