In [1]:
import numpy as np
import pandas as pd

In [167]:
app_train=pd.read_csv("train.csv")

In [168]:
app_test=pd.read_csv("test.csv")

In [169]:
app_train.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [170]:
app_train.describe()

,loan_id,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
count,1.160580e+05,116058.000000,1.160580e+05,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,...,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000,116058.000000
mean,5.494155e+11,3.868961,2.082262e+05,292.280997,67.431939,1.593186,30.742293,769.926778,2.786288,459.611565,...,0.002180,0.003533,0.003421,0.004162,0.004825,0.005359,0.006617,0.007109,0.008065,0.005480
std,2.597560e+11,0.461020,1.146851e+05,89.762415,17.291719,0.491242,9.730798,42.210706,8.096464,381.946926,...,0.062161,0.082638,0.087553,0.100961,0.113128,0.128242,0.148430,0.162884,0.178128,0.073824
min,1.000009e+11,2.250000,1.100000e+04,60.000000,6.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.244656e+11,3.500000,1.200000e+05,180.000000,57.000000,1.000000,23.000000,751.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.486239e+11,3.875000,1.830000e+05,360.000000,72.000000,2.000000,31.000000,782.000000,0.000000,740.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.743034e+11,4.125000,2.780000e+05,360.000000,80.000000,2.000000,39.000000,800.000000,0.000000,791.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.999971e+11,6.750000,1.200000e+06,360.000000,97.000000,2.000000,64.000000,840.000000,40.000000,836.000000,...,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000,13.000000,14.000000,1.000000

In [171]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116058 entries, 0 to 116057
Data columns (total 29 columns):
loan_id                     116058 non-null int64
source                      116058 non-null object
financial_institution       116058 non-null object
interest_rate               116058 non-null float64
unpaid_principal_bal        116058 non-null int64
loan_term                   116058 non-null int64
origination_date            116058 non-null object
first_payment_date          116058 non-null object
loan_to_value               116058 non-null int64
number_of_borrowers         116058 non-null float64
debt_to_income_ratio        116058 non-null float64
borrower_credit_score       116058 non-null float64
loan_purpose                116058 non-null object
insurance_percent           116058 non-null float64
co-borrower_credit_score    116058 non-null float64
insurance_type              116058 non-null float64
m1                          116058 non-null int64
m2                          116058 non-null int64
m3                          116058 non-null int64
m4                          116058 non-null int64
m5                          116058 non-null int64
m6                          116058 non-null int64
m7                          116058 non-null int64
m8                          116058 non-null int64
m9                          116058 non-null int64
m10                         116058 non-null int64
m11                         116058 non-null int64
m12                         116058 non-null int64
m13                         116058 non-null int64
dtypes: float64(7), int64(17), object(5)
memory usage: 25.7+ MB

In [172]:
df.isnull().sum()

loan_id                     0
m13                     49739
SOOURCE                     0
origination_date_new        0
dtype: int64

In [17]:
df.source.value_counts()

X    91191
Y    53730
Z    20876
Name: source, dtype: int64

In [175]:
app_train.shape

(116058, 29)

In [178]:
app_test.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12'],
      dtype='object')

In [173]:
app_train.m13.value_counts()

0    115422
1       636
Name: m13, dtype: int64

In [176]:
app_test.m13.value_counts()

AttributeError: 'DataFrame' object has no attribute 'm13'

In [10]:
app_train.loan_purpose.value_counts()

A23    58462
B12    29383
C86    28213
Name: loan_purpose, dtype: int64

In [11]:
app_train['SOOURCE']='train'
app_test['SOOURCE']='test'

In [13]:
app_train.shape

(116058, 30)

In [14]:
app_test.shape

(49739, 29)

In [21]:
df.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13', 'SOOURCE'],
      dtype='object')

In [69]:

#concatenate test and train
df = pd.concat([app_train,app_test],axis=0,sort=False)

In [70]:
# Checking for outliers in the continuous variables
num = df[['interest_rate','unpaid_principal_bal','loan_term','loan_to_value','number_of_borrowers','debt_to_income_ratio','insurance_percent','co-borrower_credit_score','insurance_type']]

In [71]:
# Checking outliers at 25%,50%,75%,90%,95% and 99%
num.describe(percentiles=[.25,.5,.75,.90,.95,.99])

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,insurance_percent,co-borrower_credit_score,insurance_type
count,165797.000000,1.657970e+05,165797.00000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000
mean,3.870125,2.081923e+05,292.48057,67.419205,1.594130,30.747263,2.774115,460.373770,0.003203
std,0.460749,1.147915e+05,89.66616,17.286214,0.491061,9.721655,8.082887,381.784339,0.056502
min,2.250000,1.100000e+04,60.00000,5.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,3.500000,1.200000e+05,180.00000,57.000000,1.000000,23.000000,0.000000,0.000000,0.000000
50%,3.875000,1.820000e+05,360.00000,72.000000,2.000000,31.000000,0.000000,741.000000,0.000000
75%,4.125000,2.790000e+05,360.00000,80.000000,2.000000,39.000000,0.000000,791.000000,0.000000
90%,4.375000,3.850000e+05,360.00000,85.000000,2.000000,43.000000,12.000000,806.000000,0.000000
95%,4.625000,4.170000e+05,360.00000,92.000000,2.000000,45.000000,25.000000,812.000000,0.000000
99%,5.000000,5.550000e+05,360.00000,95.000000,2.000000,49.000000,30.000000,819.000000,0.000000
max,6.750000,1.200000e+06,360.00000,97.000000,2.000000,64.000000,40.000000,836.000000,1.000000

In [72]:
num2=df[['m1','m2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12']]

In [73]:
# Checking outliers at 25%,50%,75%,90%,95% and 99%
num2.describe(percentiles=[.25,.5,.75,.90,.95,.99])

,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
count,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000,165797.000000
mean,0.003118,0.002081,0.001966,0.002099,0.003317,0.003130,0.004035,0.004590,0.005127,0.006430,0.006888,0.007841
std,0.063064,0.052460,0.055319,0.060421,0.079284,0.082094,0.097382,0.108492,0.122097,0.143227,0.159050,0.173899
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
95%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
99%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000,13.000000,14.000000

In [74]:
# Normalising continuous features
df1 =  df[['interest_rate','borrower_credit_score','unpaid_principal_bal','loan_term','loan_to_value','number_of_borrowers','debt_to_income_ratio','insurance_percent','co-borrower_credit_score','insurance_type']]

In [75]:

normalized_df=(df1-df1.mean())/df1.std()

In [76]:

df = df.drop(['interest_rate','unpaid_principal_bal','borrower_credit_score','loan_term','loan_to_value','number_of_borrowers','debt_to_income_ratio','insurance_percent','co-borrower_credit_score','insurance_type'], 1)

In [77]:
df.head()

,loan_id,source,financial_institution,origination_date,first_payment_date,loan_purpose,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,SOOURCE
0,268055008619,Z,"Turner, Baldwin and Rhodes",2012-03-01,05/2012,C86,0,0,0,0,0,0,1,0,0,0,0,0,1.0,train
1,672831657627,Y,"Swanson, Newton and Miller",2012-01-01,03/2012,B12,0,0,0,0,0,0,0,0,0,0,1,0,1.0,train
2,742515242108,Z,Thornton-Davis,2012-01-01,03/2012,B12,0,0,0,0,0,0,0,0,0,0,0,0,1.0,train
3,601385667462,X,OTHER,2012-02-01,04/2012,B12,0,0,0,0,0,0,0,0,1,1,1,1,1.0,train
4,273870029961,X,OTHER,2012-02-01,04/2012,C86,0,1,2,3,4,5,6,7,8,9,10,11,1.0,train

In [78]:
# Normalising continuous features
df2 =  df[['m1','m2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12']]

In [79]:

normalized_df1=(df2-df2.mean())/df2.std()

In [80]:

df = df.drop(['m1','m2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12'], 1)

In [81]:
df.head()

,loan_id,source,financial_institution,origination_date,first_payment_date,loan_purpose,m13,SOOURCE
0,268055008619,Z,"Turner, Baldwin and Rhodes",2012-03-01,05/2012,C86,1.0,train
1,672831657627,Y,"Swanson, Newton and Miller",2012-01-01,03/2012,B12,1.0,train
2,742515242108,Z,Thornton-Davis,2012-01-01,03/2012,B12,1.0,train
3,601385667462,X,OTHER,2012-02-01,04/2012,B12,1.0,train
4,273870029961,X,OTHER,2012-02-01,04/2012,C86,1.0,train

In [82]:
df['origination_date_new'] = pd.to_datetime(df.origination_date)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165797 entries, 0 to 49738
Data columns (total 9 columns):
loan_id                  165797 non-null int64
source                   165797 non-null object
financial_institution    165797 non-null object
origination_date         165797 non-null object
first_payment_date       165797 non-null object
loan_purpose             165797 non-null object
m13                      116058 non-null float64
SOOURCE                  165797 non-null object
origination_date_new     165797 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 12.6+ MB

In [84]:
df.drop(columns=["origination_date"],inplace=True)

In [85]:
df.first_payment_date.value_counts()

04/2012    75701
03/2012    67995
05/2012    21364
02/2012      737
Name: first_payment_date, dtype: int64

In [86]:
df.first_payment_date.replace({'04/2012':"April",'03/2012':"March",'05/2012':"May",'02/2012':"Feb"},inplace=True)

In [87]:
catagorical_columns=df.select_dtypes(include='object')

In [88]:
catagorical_columns.head()

  source       financial_institution first_payment_date loan_purpose SOOURCE
0      Z  Turner, Baldwin and Rhodes                May          C86   train
1      Y  Swanson, Newton and Miller              March          B12   train
2      Z              Thornton-Davis              March          B12   train
3      X                       OTHER              April          B12   train
4      X                       OTHER              April          C86   train

In [89]:
encode=pd.get_dummies(catagorical_columns.drop(columns=["SOOURCE"]))

In [90]:
encode.head()

,source_X,source_Y,source_Z,financial_institution_Anderson-Taylor,financial_institution_Browning-Hart,financial_institution_Chapman-Mcmahon,"financial_institution_Cole, Brooks and Vincent",financial_institution_Edwards-Hoffman,"financial_institution_Martinez, Duffy and Bird","financial_institution_Miller, Mcclure and Allen",...,"financial_institution_Taylor, Hunt and Rodriguez",financial_institution_Thornton-Davis,"financial_institution_Turner, Baldwin and Rhodes",first_payment_date_April,first_payment_date_Feb,first_payment_date_March,first_payment_date_May,loan_purpose_A23,loan_purpose_B12,loan_purpose_C86
0,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [91]:
df.drop(columns=["financial_institution","first_payment_date","loan_purpose","source"],inplace=True)

In [166]:
df['SOOURCE']='test'

In [93]:
processing_final=pd.concat([encode,df,df1,df2],axis=1)

In [99]:
processing_final.columns

Index(['source_X', 'source_Y', 'source_Z',
       'financial_institution_Anderson-Taylor',
       'financial_institution_Browning-Hart',
       'financial_institution_Chapman-Mcmahon',
       'financial_institution_Cole, Brooks and Vincent',
       'financial_institution_Edwards-Hoffman',
       'financial_institution_Martinez, Duffy and Bird',
       'financial_institution_Miller, Mcclure and Allen',
       'financial_institution_Nicholson Group', 'financial_institution_OTHER',
       'financial_institution_Richards-Walters',
       'financial_institution_Richardson Ltd',
       'financial_institution_Romero, Woods and Johnson',
       'financial_institution_Sanchez, Hays and Wilkerson',
       'financial_institution_Sanchez-Robinson',
       'financial_institution_Suarez Inc',
       'financial_institution_Swanson, Newton and Miller',
       'financial_institution_Taylor, Hunt and Rodriguez',
       'financial_institution_Thornton-Davis',
       'financial_institution_Turner, Baldwin and Rhodes',
       'first_payment_date_April', 'first_payment_date_Feb',
       'first_payment_date_March', 'first_payment_date_May',
       'loan_purpose_A23', 'loan_purpose_B12', 'loan_purpose_C86', 'loan_id',
       'm13', 'SOOURCE', 'origination_date_new', 'interest_rate',
       'borrower_credit_score', 'unpaid_principal_bal', 'loan_term',
       'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12'],
      dtype='object')

In [164]:
processing_final.head()

,source_X,source_Y,source_Z,financial_institution_Anderson-Taylor,financial_institution_Browning-Hart,financial_institution_Chapman-Mcmahon,"financial_institution_Cole, Brooks and Vincent",financial_institution_Edwards-Hoffman,"financial_institution_Martinez, Duffy and Bird","financial_institution_Miller, Mcclure and Allen",...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
4,1,0,0,0,0,0,0,0,0,0,...,2,3,4,5,6,7,8,9,10,11

In [63]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn.cross_validation'

In [102]:

# Let's run the model using the selected variables
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logsk = LogisticRegression()
logsk.fit(X_train[col], y_train)

NameError: name 'X_train' is not defined

In [95]:
pre_train = processing_final.loc[processing_final['SOOURCE']=="train"]

In [96]:
pre_test = processing_final.loc[processing_final['SOOURCE']=="test"]

In [97]:
del pre_train["SOOURCE"]

In [98]:
del pre_test["SOOURCE"]

In [106]:
del pre_train["origination_date_new"]

In [107]:
del pre_test["origination_date_new"]

In [108]:
X=pre_train.drop(columns=["m13"],axis=0)

In [109]:
y=pre_train.m13

In [110]:

from sklearn.model_selection import train_test_split
# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression(random_state=0)
logreg.fit(X_train, y_train)

C:\Users\VINOTH S\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [112]:
y_pred_train = logreg.predict(X_train)

In [113]:
metrics.confusion_matrix(y_train,y_pred_train)

array([[80790,     0],
       [  450,     0]], dtype=int64)

In [114]:
metrics.accuracy_score(y_train,y_pred_train)

0.9944608567208272

In [115]:
print(metrics.classification_report(y_train,y_pred_train))

              precision    recall  f1-score   support

         0.0       0.99      1.00      1.00     80790
         1.0       0.00      0.00      0.00       450

   micro avg       0.99      0.99      0.99     81240
   macro avg       0.50      0.50      0.50     81240
weighted avg       0.99      0.99      0.99     81240

C:\Users\VINOTH S\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [116]:
y_pred = logreg.predict(X_test)

In [117]:
metrics.confusion_matrix(y_test,y_pred)

array([[34632,     0],
       [  186,     0]], dtype=int64)

In [118]:
metrics.accuracy_score(y_test,y_pred)

0.9946579355505772

In [119]:
logreg.fit(X, y)

C:\Users\VINOTH S\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [120]:
train_pred=logreg.predict(pre_train.drop(columns=["m13"],axis=0))

In [121]:
test_pred=logreg.predict(pre_test.drop(columns=["m13"],axis=0))

In [122]:
metrics.accuracy_score(pre_train["m13"],train_pred)

0.9945199813886161

In [124]:
# Converting y_pred to a dataframe which is an array
y_pred_df = pd.DataFrame(test_pred)

In [130]:
y_pred_df.head()

     0
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0

In [132]:
# Converting y_test to dataframe
y_test_df = pd.DataFrame(y_test)

In [133]:
# Putting CustID to index
y_test_df['loan_id'] = y_test_df.index

In [135]:

# Removing index for both dataframes to append them side by side 
y_pred_df.reset_index(drop=True, inplace=True)
y_test_df.reset_index(drop=True, inplace=True)

In [137]:
# Appending y_test_df and y_pred_1
y_pred_final = pd.concat([y_test_df,y_pred_df],axis=1)

In [140]:
y_pred_final.head()

    loan_id    0
0   45273.0  0.0
1    6110.0  0.0
2   49569.0  0.0
3  100356.0  0.0
4   11250.0  0.0

In [141]:
# Renaming the column 
y_pred_final= y_pred_final.rename(columns={ 0 : 'm13'})

In [139]:
del y_pred_final["m13"]

In [143]:
y_pred_final["m13"]=y_pred_final.m13.astype(int)

In [144]:
y_pred_final.head()

    loan_id  m13
0   45273.0    0
1    6110.0    0
2   49569.0    0
3  100356.0    0
4   11250.0    0

In [145]:
y_pred_final.to_excel("Logistloan.xlsx",index=False)

In [ ]:
#Prediction change

In [148]:
# Let's run the model using the selected variables
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logsk = LogisticRegression()
logsk.fit(X_train, y_train)

C:\Users\VINOTH S\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [150]:
# Predicted probabilities
y_pred = logsk.predict(X_test)

In [151]:
# Converting y_pred to a dataframe which is an array
y_pred_df = pd.DataFrame(y_pred)

In [152]:
# Converting to column dataframe
y_pred_0 = y_pred_df.iloc[:,[0]]

In [156]:
# Converting y_test to dataframe
y_test_df = pd.DataFrame(y_test)

In [157]:

# Putting CustID to index
y_test_df['loan_id'] = y_test_df.index

In [158]:
# Removing index for both dataframes to append them side by side 
y_pred_0.reset_index(drop=True, inplace=True)
y_test_df.reset_index(drop=True, inplace=True)

In [159]:
# Appending y_test_df and y_pred_1
y_pred_final = pd.concat([y_test_df,y_pred_0],axis=1)

In [160]:
# Renaming the column 
y_pred_final= y_pred_final.rename(columns={ 0 : 'M131'})

In [163]:
y_pred_final.M131.value_counts()

0.0    34818
Name: M131, dtype: int64

In [179]:
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'